{% extends "layout.njk" %}

{% block content %}
  {% include "hero-section.njk" %}
  {% include "features-section.njk" %}
  {% include "how-it-works-section.njk" %}
  {% include "pricing-section.njk" %}
  {% include "faq-section.njk" %}
{% endblock %}
